<!-- <button (click)="changeStatus('normal')">Normal</button>
<button (click)="changeStatus('sad')">Sad</button>
<button (click)="changeStatus('ill')">Ill</button>
<button (click)="changeStatus('angry')">Angry</button>
<button (click)="changeStatus('happy')">Happy</button> -->
<div [hidden]="isDead">
    <button class="iconSize" (click)="giveFood()">🍔</button>
    <button class="iconSize" (click)="play()">⚽</button>
    <button class="iconSize" (click)="clean()">🛀</button>
    <button class="iconSize" (click)="sleep()">💤</button>
</div>