#anguPetTitle {
    font-family: 'Press Start 2P', cursive;
    color: #41c52b;
    margin-top: 0%;
}

h1 {
    font-size: 222%;
    text-shadow: 1px 1px red;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#gameBoardPosition {
    margin: 0 30% 0 30%;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
}

.petState {
    width: 200px;
    height: 200px;
}